/**
 * Site header
 */
.site-header {
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $brand-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit/1.5 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    font-size: $base-font-size*0.875;
}

.page-heading {
    font-size: 20px;
}


.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */


.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}






/*
  Style for Archives
*/

%date-timeline {
  content: "";
  width: 4px;
  left: 75px;
  display: inline-block;
  float: left;
  position: relative;
  background-color: lighten($brand-color, 25%);
}

#archives {
  letter-spacing: 0.03rem;

  span.lead {
    font-size: 1.5rem;
    font-family: "Andale Mono", "Lucida Console", Courier, monospace;;
    position: relative;
    font-weight: bold;
    left: 35px;

    &::after { /* Year dot */
      content: "";
      display: block;
      position: relative;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      top: -26px;
      left: 63px;
      border: 3px solid;
      background-color: #fff;
      border-color: $brand-color;
      box-shadow: 0 0 2px 0 #c2c6cc;
      z-index: 1;
    }

    &:not(:first-child) {
      position: relative;
      left: 1px;
      &::after {
        left: 97px;
      }
    }

  } // #archives span.lead

  ul {
    li {
      font-size: 1.1rem;
      line-height: 3rem;

      div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        a {
          /* post title in Archvies */
          margin-left: 2.5rem;
          position: relative;
          top: 0.1rem;
        }
      }

      &:nth-child(odd) {
        background-color: var(--main-wrapper-bg, #fff);
        background-image: linear-gradient(to left, #fff, #f8f8f8, #f8f8f8, #f8f8f8, #fff);
      }

      &::after {
        @extend %date-timeline;

        height: 2.8rem;
        top: -1.3rem;
      }

      &:first-child::before {
        @extend %date-timeline;

        height: 3.06rem;
        top: -1.61rem;
      }
    }

    &:not(:last-child) > li:last-child::after {
      height: 3.4rem;
    }

    &:last-child > li:last-child::after {
      display: none;
    }
  } // #archives ul

  .date {
    white-space: nowrap;
    display: inline-block;
    &.month {
      width: 1.4rem;
      text-align: center;
      font-family: "Andale Mono", "Lucida Console", Courier, monospace;;

      ~ a::before {
        /* A dot for Month and Day */
        content: "";
        display: inline-block;
        position: relative;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        float: left;
        top: 1.35rem;
        left: 69px;
        background-color: $brand-color;
        box-shadow: 0 0 3px 0 #c2c6cc;
        z-index: 1;
      }
    }
    &.day {
      font-size: 85%;
      text-align: center;
      font-family: "Lucida Console", Courier, monospace;;
      margin-right: -2px;
      width: 1.2rem;
      position: relative;
      left: -.15rem;
    }
  } // #archives .date

} // #archives

@media all and (max-width: 576px) {
  #archives {
    margin-top: -1rem;
    ul {
      letter-spacing: 0;
    }
  }
}