---
layout: page
---

<div style="text-align: right; font-size: large;">
  <a href="/blog/">Fersiynau Saesneg <img class="emoji" draggable="false" src="https://twemoji.maxcdn.com/2/svg/1f1ec-1f1e7.svg"/></a>
</div>

<div id="archives">
{% for post in site.posts %}
{% if forloop.first %}
{% assign pre_year = post.date | date: "%Y" %}
{% endif %}
{% endfor %}

{% assign first = 'True' %}
{% for post in site.posts %}
{% if post.language == 'cymraeg' %}
  {% assign this_year = post.date | date: "%Y" %}
  {% if first == 'True' %}
    {% assign last_day = "" %}
    {% assign last_month = "" %}
    {% assign first = 'False' %}
  <span class="lead">{{this_year}}</span>
  <ul style="list-style: none;">
  {% elsif this_year != pre_year %}
    </ul>
    <span class="lead">{{this_year}}</span>
    {% assign pre_year = post.date | date: "%Y" %}
    <ul style="list-style: none;">
    {% assign last_day = "" %}
    {% assign last_month = "" %}
  {% endif %}
    <li>
      <div>
        {% capture this_day %}{{ post.date | date: "%d" }}{% endcapture %}
        {% capture this_month %}{{ post.date | date: "%b" }}{% endcapture %}
        {% assign this_year = post.date | date: "%Y" %}
        <span class="date day">{{ this_day }}</span>
        <span class="date month small text-muted">
        {% case this_month %}
            {% when 'Jan' %}Ion 
            {% when 'Feb' %}Chw
            {% when 'Mar' %}Maw 
            {% when 'Apr' %}Ebr
            {% when 'May' %}Mai
            {% when 'Jun' %}Meh
            {% when 'Jul' %}Grf
            {% when 'Aug' %}Aws 
            {% when 'Sep' %}Med 
            {% when 'Oct' %}Hyd
            {% when 'Nov' %}Tch
            {% when 'Dec' %}Rhg
        {% endcase %}
        </span>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </div>
    </li>
  {% if forloop.last %}
  </ul>
  {% endif %}
{% endif %}
{% endfor %}
</div>

