---
layout: page
---

<style> 
.vertical { 
    border-left: 2px solid lightgrey; 
    height: 60%; 
    position:absolute; 
    left: 50%; 
} 
</style> 


<!-- Pagination links -->
<div class="pagination" align='center', style="float: center; width: 100%">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous"><<<</a>
  {% else %}
    <span class="previous"><<<</span>
  {% endif %}
  <span class="page_number "><img class="emoji" draggable="false" src="https://twemoji.maxcdn.com/2/svg/1f4c3.svg"/> {{ paginator.page }} / {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">>>></a>
  {% else %}
    <span class="next ">>>></span>
  {% endif %}
</div>
<!-- <p id="attribution">Emoji use thanks to <a href="https://twitter.github.io/twemoji/">Twemoji</a>.</p>
 -->
<br>

<div style="width: 100%; min-height: 480px">
<div align='right', style="float: left; width: 46%">
{% for post in paginator.posts %}
  {% if post.language == 'english' %}
    <time>{{ post.date | date: "%b %-d, %Y" }}</time>
    <p style="font-size: 110%; font-weight: bold"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} </a><img class="emoji" draggable="false" src="https://twemoji.maxcdn.com/2/svg/1f1ec-1f1e7.svg"/></p>
  {% endif %}
{% endfor %}
</div>
<div class = "vertical"></div> 
<div  style="float: right; width: 46%">
{% for post in paginator.posts %}
  {% if post.language == 'cymraeg' %}
    <time>{% assign m = post.date | date: "%-m" %}
          {% case m %}
            {% when '1' %}Ion
            {% when '2' %}Chwef
            {% when '3' %}Maw
            {% when '4' %}Ebrill
            {% when '5' %}Mai
            {% when '6' %}Meh
            {% when '7' %}Gorff
            {% when '8' %}Awst
            {% when '9' %}Medi
            {% when '10' %}Hyd
            {% when '11' %}Tach
            {% when '12' %}Rhag
          {% endcase %}
          {{ post.date | date: "%-d" }},
          {{ post.date | date: "%Y" }}</time>
    <p style="font-size: 110%; font-weight: bold"><img class="emoji" draggable="false" src="https://twemoji.maxcdn.com/2/svg/1f3f4-e0067-e0062-e0077-e006c-e0073-e007f.svg"/> <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
  {% endif %}
{% endfor %}
</div>
</div>

